html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, input,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: black; }

button {
  cursor: pointer; }

body {
  font-family: 'Asap', sans-serif;
  color: white; }

h2 {
  margin-bottom: 10px;
  font-size: 30px;
  font-family: 'Flamenco', cursive;
  color: black; }

h3 {
  font-size: 30px;
  padding: 20px;
  font-weight: bold; }

span {
  font-weight: bold; }

.menu {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  position: absolute;
  left: 0;
  right: 0; }
  .menu img {
    width: 108px; }
  .menu__itens {
    display: flex;
    text-transform: uppercase;
    font-size: 13px;
    align-items: center; }
  .menu__item {
    margin-right: 30px; }
  .menu__link {
    color: white; }
    .menu__link--btn {
      border: 1px solid yellow;
      background-color: transparent;
      color: yellow;
      padding: 5px 10px;
      border-radius: 3px;
      text-transform: uppercase; }

.btn {
  padding: 10px 38px;
  background-color: #FFDD71;
  border-radius: 3px;
  text-transform: uppercase;
  color: #8F7842;
  font-weight: bold;
  font-size: 19px;
  display: inline-block;
  margin-top: 20px; }
  .btn--secondary {
    background-color: #428F94;
    color: white;
    width: 100%;
    border: none;
    padding: 12px;
    margin-top: 20px; }
  .btn--tertiary {
    background: #C1392B;
    border: none;
    color: white;
    font-weight: 500;
    font-family: 'Asap', sans-serif;
    padding: 8px 70px;
    margin-top: 0; }

.banner {
  text-align: center;
  background-image: url(../assets/img/bg-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .banner__title {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: 'Flamenco', cursive; }

.container {
  width: 960px;
  margin: 0 auto; }

.sobre {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px; }
  .sobre__title {
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Flamenco', cursive;
    color: black; }
  .sobre img {
    width: 100px; }
  .sobre__content {
    color: #7A7A7A;
    font-size: 17px;
    margin-left: 50px; }

.wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content: space-around;
  color: #686868;
  line-height: 1.1; }
  .wrapper img {
    width: 125px; }

.como-funciona {
  margin-bottom: 100px; }
  .como-funciona__title {
    text-align: center;
    padding-bottom: 25px; }

.nossos-servicos {
  background-image: url("../assets/img/bg-servicos.png");
  padding: 45px 0 60px 0; }
  .nossos-servicos img {
    padding-bottom: 14px;
    width: 140px; }
  .nossos-servicos__title {
    text-align: center;
    margin-bottom: 35px; }
  .nossos-servicos__box-cards {
    display: flex;
    text-align: center;
    justify-content: center; }
  .nossos-servicos__card {
    width: 400px;
    min-height: 411px;
    border-radius: 5px;
    color: white;
    background: #67BFD3;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center; }

.voce-sabia {
  background-image: url("../assets/img/bg-numeros.png");
  background-size: cover;
  padding-bottom: 60px; }
  .voce-sabia__title {
    text-align: center;
    color: white;
    padding-top: 20px; }
  .voce-sabia__conteudo {
    display: flex;
    justify-content: space-evenly; }
  .voce-sabia__item {
    width: 21%;
    text-align: center; }
    .voce-sabia__item__title {
      font-size: 50px;
      margin-bottom: 10px;
      color: #FFDB71;
      text-shadow: 0px 1px 2px black;
      font-weight: bold; }

.wrapp {
  display: flex; }
  .wrapp .col-50:first-child {
    margin-right: 2%; }

.col-50 {
  width: 50%; }

.contato {
  color: black;
  background: #F3F3F3;
  line-height: 1.4;
  padding-bottom: 80px; }
  .contato__title {
    width: 224px;
    margin: 0 auto; }

.form {
  width: 30%;
  margin: 0 auto;
  min-width: 380px; }
  .form input, .form textarea {
    background-color: #FFEBB0;
    border: 1px solid #b9aa7c;
    display: block;
    border-radius: 1px;
    padding: 0 5px;
    width: 100%;
    line-height: 2; }
  .form textarea {
    height: 115px; }

.newsletter {
  background: #FFDD71;
  padding: 65px 0; }
  .newsletter ::-webkit-input-placeholder {
    color: #D6D6D6; }
  .newsletter :-moz-placeholder {
    color: #D6D6D6; }
  .newsletter ::-moz-placeholder {
    color: #D6D6D6; }
  .newsletter :-ms-input-placeholder {
    color: #D6D6D6; }
  .newsletter__conteudo {
    display: flex;
    justify-content: center;
    align-items: center; }
  .newsletter__title {
    text-align: center;
    font-size: 45px; }
  .newsletter input {
    width: 25%;
    margin-right: 30px;
    padding: 10px 15px;
    font-family: 'Asap', sans-serif; }

.footer {
  display: flex;
  justify-content: space-evenly;
  background: #333333;
  padding: 20px 0; }

.menu-dark__itens {
  font-size: 12px;
  line-height: 1.2;
  font-family: 'Flamenco', cursive; }

.menu-dark__logo img {
  width: 120px; }

.menu-dark__logo p {
  font-style: italic;
  font-size: 12px; }

.menu-dark__contato {
  font-style: normal;
  font-weight: bold;
  font-size: 10px; }

.menu-dark__redes-sociais p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px; }

.menu-dark__redes-sociais__item {
  margin-top: 10px; }
  .menu-dark__redes-sociais__item img {
    width: 25px; }
